:root {
  --theme-color: #182f32;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 2px solid red; */
}

body {
  height: auto;
  width: 100vw;
  font-family: var(--font-roboto);
  overflow-x: hidden;
  position: absolute;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
}

/* Google */

.googleImage {
  width: 100vw;
  height: auto;
}

.inputTxt {
  background-color: white;
  position: relative;
  top: -111vw;
  left: 10vw;
  width: 67vw;
  height: 8vw;
  border: none;
}
